<div style="text-align: center;">
  <h1>Benvenuto nella pagina di Form!</h1>
  <a href="/">Vai alla pagina Home</a>
</div>
<form nz-form [formGroup]="form" (ngSubmit)="submitForm()">


  <nz-form-item>
    <nz-form-label [nzSpan]="2">domanda</nz-form-label>
    <nz-form-control [nzSpan]="5" nzErrorTip="Perfavore inserisci una domanda">
      <nz-textarea-count [nzMaxCharacterCount]="2000">
        <textarea formControlName="domanda" nz-input rows="2" placeholder="Inserisci la domanda"></textarea>
      </nz-textarea-count>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="2">Risposta</nz-form-label>
    <nz-form-control [nzSpan]="5" nzErrorTip="Perfavore inserisci una risposta">
      <nz-textarea-count [nzMaxCharacterCount]="2000">
        <textarea formControlName="risposta" nz-input rows="2" placeholder="Inserisci la risposta"></textarea>
      </nz-textarea-count>
    </nz-form-control>
  </nz-form-item>


  <nz-form-item>
    <nz-form-control [nzOffset]="2">
      <button nz-button nzType="primary">Salva</button>
    </nz-form-control>
  </nz-form-item>


</form>




