<div class="main-content wellcome">
    <section id="introduzione">
        <h2>Introduzione</h2>
        <p>Benvenuto nella nostra applicazione web dedicata alla misurazione delle performance dei modelli di linguaggio di grandi dimensioni (LLM). Qui puoi caricare, modificare e testare il tuo dataset per valutare l'efficacia del modello.</p>
    </section>
    
    <section id="dataset">
        <h2>Gestione del Dataset</h2>
        <p>In questo PoC, viene fornito un dataset di prova su cui poter eseguire il test.</p>
        <p>se si desidera voler modificare o eliminare alcuni elementi per testare la robustezza del sistema è possibile farlo tramite la pagina per la gestione del dataset.</p>
        <a id="button-test" href="/list">Vai al Dataset</a>
    </section>
    
    <section id="risultati">
        <h2>Risultati del Test</h2>
        <p>Una volta caricato e modificato il dataset, puoi avviare il test per misurare le performance del LLM.</p>
        <a id="button-test" href="/test">Avvia il Test</a>
    </section>
    
    <section id="contatti">
        <h2>Contatti</h2>
        <p>Per ulteriori informazioni o supporto, contattaci all'indirizzo email: <a href="mailto:altf4.eng@gmail.com">altf4.eng&#64;gmail.com</a></p>
    </section>
</div>
