.qa-item {
  margin: 10px 30px;
}

[nz-button] {
  margin-right: 8px;
  margin-bottom: 12px;
}

nz-pagination{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 20px;
}

