<div class="main-content">
  <div class="form-section">
    <h2>Dataset</h2>
    <p>nella seguente pagina sono riportate tutte le domande e le relative risposte presenti nel dataset.</p>
    <p>qui hai la possibilità di modificare o addirittura eliminare elementi di tuo interesse.</p>
  </div>

<div *ngIf="loading" class="loading-overlay">
  <div class="spinner"></div>
</div>

<div [class.content-blur]="loading">

  <hr />
  <div *ngFor="let qa of paginatedQaList; let i = index">
    <div class="qa-item">
      <p><strong>Domanda:</strong> {{ qa.domanda }}</p>
      <p><strong>Risposta attesa:</strong> {{ qa.rispostaAttesa }}</p>
      <button class="modifyButton" (click)="editQA(i)">Modifica</button>
      <button class="deleteButton" (click)="deleteQA(i)">Elimina</button>
    </div>
    <hr />
  </div>
  
  <nz-pagination
    [nzPageSize]="pageSize"
    [nzTotal]="qaList.length"
    [(nzPageIndex)]="currentPage"
    (nzPageIndexChange)="onPageChange($event)"
    nzShowQuickJumper>
  </nz-pagination>
</div>
</div>